#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}
body {
  background: #1a244e;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
a {
  background: black;
  font-size: 36px;
  padding: 10px 50px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.133);
  color: rgb(0, 163, 251);
}

h1,a {
  font-family: "Chewy", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .5px;
}

img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 600px;
  min-width: 250px;
}
.home-link {
  padding: 8px;
  position: fixed;
  top: 1%;
  left: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.home-button {
  width: 40px;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
}